.profile__profession {
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 700px) {
  .profile__profession {
    font-size: 14px;
    margin-top: 14px;
    max-width: 282px;
  }
}
