.popup__button-save:hover{
  transition: opacity 0.3s ease-out;
  background-color: rgba(0,0,0,.8);
}

.popup__button-save {
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  border: none;
  width: 358px;
  height: 50px;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .popup__button-save {
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
}
