.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  justify-content: center;
  row-gap:20px;
  column-gap: 17px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
