.popup__button-close {
  background-image: url('../../../images/close_button.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.popup__button-close:hover{
  transition: opacity 0.3s ease-out;
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
    background-size: contain;
  }
}
