.popup__container {
  border-radius: 10px;
  background-color: #fff;
  max-width: 430px;
  padding: 34px 36px 37px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
