.card__button-delete {
  background-image: url('../../../images/delete_button.svg');
  background-position: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 19px;
  width: 18px;
}

.card__button-delete:hover {
  cursor: pointer;
  transition: opacity 0.3s ease-out;
  opacity: 0.6;
}
